<!--create-application.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="panel panel-default col-sm-12">
  <div class="panel-body">
    <!--If there's an error, display the error-->
    {{ if .ErrorTitle}}
    <p class="bg-danger">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </p>
    {{end}}
    <!--Create a form that POSTs to the `/application/create` route-->
    <form class="form" action="/application/create" method="POST">
      <div class="form-group">
        <label for="name">Business Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <textarea name="address" class="form-control" rows="10" id="address" placeholder="Adress"></textarea>
      </div>
      <div class="form-group">
        <label for="name">Loan Amount</label>
        <input type="text" class="form-control" id="loan" name="loan" placeholder="50000">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>  



    
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}